header, thead, table {
    padding: .5em;
    border-bottom: 1px, solid, #d3d3d3;
}

header {

   background-color: darkgrey; 
   font-weight: 300;
   font-family: "Roboto", sans-serif;
   text-align: center;
   

}

img {
    width: 100px;
    height: 100px;
}


thead {
        height: 2rem;
        text-align:left;
        color:green;
        background-color:lightgray;
       
    }

table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;
  
}
tr:nth-child(even) {background-color: #eee}
tr:hover {background-color: pink;}
 